NEO4J_URI=
NEO4J_DATABASE=
NEO4J_USER=
NEO4J_PASSWORD=
QUIZ_CYPHER_QUERY=
QUIZ_CACHED_QUERY=.cypher_cache/quiz-3.json
LOG_LEVEL=DEBUG
MOD_ENV=
OTEL_TELEMETRY_ENABLED=
OTEL_EXPORTER_OTLP_ENDPOINT="https://otlp-gateway-<zone>.grafana.net/otlp"
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic <base64(instanceID:token)>"
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_RESOURCE_ATTRIBUTES="service.namespace=mod,deployment.environment=prod"